argcomplete==1.10.0
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
Beaker==1.10.0
beautifulsoup4==4.8.0
bleach==3.3.0
blis==0.7.4
blivet==3.3.3
blivet-gui==2.2.1
Bottleneck==1.3.2
Brlapi==0.8.2
cached-property==1.5.2
catalogue==2.0.4
catboost==0.26.1
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
click==7.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
colorspacious==1.1.2
cryptography==3.4.6
cupshelpers==1.0
cycler==0.10.0
cymem==2.0.5
Cython==0.29.24
dasbus==1.4
dask==2021.7.2
DAWG==0.8.0
DAWG-Python==0.7.2
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
distro==1.5.0
docopt==0.6.2
docx2txt==0.8
EbookLib==0.17.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.1.0
extract-msg==0.23.1
Fiona==1.8.20
fros==1.1
fsspec==2021.7.0
fuzzywuzzy==0.18.0
gensim==4.0.1
geojson==2.5.0
geopandas==0.9.0
glove==1.0.0
gpg==1.15.1
graphviz==0.16
gssapi==1.6.9
htmlmin==0.1.12
humanize==0.5.1
idna==2.10
ImageHash==4.2.0
imageio==2.9.0
IMAPClient==2.1.0
initial-setup==0.3.90
ipykernel==5.5.5
ipython==7.24.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
koji==1.25.1
langtable==0.0.54
libcomps==0.1.17
lit==12.0.0
llvmlite==0.36.0
locket==0.2.1
lxml==4.6.3
Mako==1.1.4.dev0
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
missingno==0.4.2
mistune==0.8.4
multimethod==1.4
munch==2.5.0
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nftables==0.1
nltk==3.6.2
notebook==6.4.0
numba==0.53.1
numexpr==2.7.3
numpy==1.20.3
olefile==0.46
opencv-python==4.5.2.54
openpyxl==3.0.7
packaging==20.9
pandas==1.3.1
pandas-profiling==3.0.0
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
Paste==3.5.0
pathy==0.6.0
pdfminer.six==20181108
pexpect==4.8.0
phik==0.11.2
pickleshare==0.7.5
pid==2.2.3
Pillow==8.1.2
plotly==4.14.3
ply==3.11
preshed==3.0.5
productmd==1.33
progressbar2==3.52.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.20.0
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.10.1
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.8.2
pyenchant==3.2.0
pygit2==1.5.0
Pygments==2.9.0
PyGObject==3.40.1
pykickstart==3.32
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyMuPDF==1.18.16
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.7
pyproj==3.1.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyrsistent==0.17.3
pyshp==2.1.3
PySocks==1.7.1
python-augeas==0.5.0
python-dateutil==2.8.1
python-gettext==4.0
python-Levenshtein==0.12.2
python-manatools==0.0.3
python-meh==0.50
python-pptx==0.6.18
python-utils==2.4.0
pytz==2021.1
pyudev==0.22.0
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
retrying==1.3.3
rpm==4.16.1.3
rpmautospec==0.2.3
Rtree==0.9.4
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
selinux==3.2
Send2Trash==1.5.0
sepolicy==3.2
setools==4.4.0
setroubleshoot==1.1
Shapely==1.7.1
simpleline==1.8
six==1.12.0
sklearn==0.0
slip==0.6.4
slip.dbus==0.6.4
smart-open==5.1.0
sortedcontainers==2.4.0
sos==4.1
soupsieve==2.2
spacy==3.1.1
spacy-legacy==3.0.8
SpeechRecognition==3.8.1
srsly==2.4.1
systemd-python==234
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
Tempita==0.5.1
terminado==0.10.0
testpath==0.5.0
textract==1.6.3
thinc==8.0.8
threadpoolctl==2.1.0
toolz==0.11.1
torbrowser-launcher==0.3.5
torch==1.9.0+cu111
torchaudio==0.9.0
torchtext==0.10.0
torchvision==0.10.0+cu111
tornado==6.1
tqdm==4.61.0
traitlets==5.0.5
typer==0.3.2
typing-extensions==3.10.0.0
tzlocal==1.5.1
urllib3==1.25.10
visions==0.7.1
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xgboost==1.4.2
xlrd==1.2.0
XlsxWriter==3.0.1
